@import 'src/variables.scss';

div#search {
    //height: calc(100vh - 13.8rem);

    div.options {
        background: $off-white-light;

        button {
            background-color: $fruit-salad;
            color: $white;

            &:hover {
                background-color: $fruit-salad-dark;
            }
        }

        a {
            &:hover {
                cursor: pointer;
            }
        }

        i.green {
            color: $fruit-salad-light;
        }
    }

    div.searchbar {
        background: $off-white-light;

        div.input-group {
            position: relative;

            input {
                padding-left: 4rem;
                padding-right: 4rem;
            }

            span {
                position: absolute;
                font-size: 1.4rem;
                z-index: 400;

                &.magnifying-glass {
                    left: 1rem;
                    top: 0.5rem;
                }

                &.cross {
                    right: 1rem;
                    top: 0.5rem;
                }
            }
        }

        button.history {
            height: 3rem;
            background-color: $off-white-dark;

            &:hover {
                background-color: $off-white-light;
            }
        }
    }

    div.response-speed {
        background: $off-white-light;
        color: $river-bed;
    }

    div.pre-search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 22.9rem);

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $river-bed;
        }
    }

    div.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 22.9rem);

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 4px solid $river-bed;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $river-bed transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    div.results {
        height: calc(100vh - 30.4rem);
        overflow-x: scroll;

        div.header {
            background-color: $off-white;

            p {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }

        div.body {
            p {
                font-size: 1.4rem;
            }

            &.odd {
                background-color: $off-white-light;
            }

            &.body {
                &:hover {
                    background-color: $anakiwa;
                    cursor: pointer;
                }
            }
        }
    }

    div.filters {
        background: $off-white-light;
        bottom: 4rem;

        button {
            background-color: $cerulean;
            color: $white;

            &:hover {
                background-color: $cerulean-dark;
            }
        }
    }

    ul {
        li {
            a, label, input {
                font-size: 1.4rem;
                font-weight: 400;

                &.history {
                    &:hover {
                        color: $cerulean-dark;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
