@import 'src/variables.scss';

div#search {
    //height: calc(100vh - 13.8rem);

    div.options {
        background: $off-white-light;

        button {
            background-color: $fruit-salad;
            color: $white;

            &:hover {
                background-color: $fruit-salad-dark;
            }
        }
    }

    div.searchbar {
        background: $off-white-light;

        div.input-group {
            position: relative;

            input {
                padding-left: 4rem;
                padding-right: 4rem;
            }

            span {
                position: absolute;
                font-size: 1.4rem;
                z-index: 400;

                &.magnifying-glass {
                    left: 1rem;
                    top: 0.5rem;
                }

                &.cross {
                    right: 1rem;
                    top: 0.5rem;
                }
            }
        }

        button.history {
            height: 3rem;
            background-color: $off-white-dark;

            &:hover {
                background-color: $off-white-light;
            }
        }
    }

    div.results {
        height: calc(100vh - 27.9rem);
        overflow-x: scroll;

        div.header {
            background-color: $off-white;

            p {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }

        div.body {
            p {
                font-size: 1.4rem;
            }

            &.odd {
                background-color: $off-white-light;
            }

            &.body {
                &:hover {
                    background-color: $anakiwa;
                    cursor: pointer;
                }
            }
        }
    }

    div.filters {
        background: $off-white-light;
        bottom: 4rem;

        button {
            background-color: $cerulean;
            color: $white;

            &:hover {
                background-color: $cerulean-dark;
            }
        }
    }

    ul {
        li {
            a, label, input {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }
}
