@import 'src/variables.scss';

div#concept-utility-bar {
    div.options {
        position: relative;
        background: $off-white-light;

        div.toggle {
            height: 3rem;

            span.stated {
                position: absolute;
                top: 1rem;
                left: 11.5rem;
                font-size: 1.4rem;
                font-weight: 400;
                color: rgba(0,0,0,0.87);
                -webkit-font-smoothing: antialiased;
            }
        }

        button.history {
            height: 3rem;
            background-color: $off-white-dark;
            font-size: 1.6rem;

            &:hover {
                background-color: $off-white-light;
            }
        }
    }

    div.name {
        background: $off-white-light;

        h2 {
            color: $river-bed;
            font-weight: 300;
            font-size: 2rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    ul {
        li {
            a, label, input {
                font-size: 1.4rem;
                font-weight: 400;

                &.history {
                    &:hover {
                        color: $cerulean-dark;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
