<div id="concept-utility-bar" class="row g-0">
    <div class="col-6 options">
        <div class="m-3 pt-2 ps-3 toggle">
            <mat-slide-toggle  [hideIcon]="true" [color]="'primary'" [checked]="inferredView" [labelPosition]="'before'" (change)=" setInferredView(!inferredView); findConcept(activeConcept!)">STATED</mat-slide-toggle>
            <span class="stated pe-2 py-2">INFERRED</span>
        </div>
    </div>
    <div class="col-6 options d-inline-flex flex-row-reverse">
        <div class="p-3">
            <button class="btn history rounded-circle border-0"><i class="fa-solid fa-gear"></i></button>
        </div>
        <div class="dropdown py-3">
            <button type="button" class="btn history rounded-circle border-0" data-bs-toggle="dropdown"><i class="fa-solid fa-clock-rotate-left"></i></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item px-3 py-2" href="#">Action</a></li>
                <li><a class="dropdown-item px-3 py-2" href="#">Another action</a></li>
                <li><a class="dropdown-item px-3 py-2" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
