<div id="concept-utility-bar" class="row g-0">
    <div class="col-6 options">
        <div class="m-3 pt-2 ps-3 toggle">
            <mat-slide-toggle  [hideIcon]="true" [color]="'primary'" [checked]="inferredView" [labelPosition]="'before'" (change)="setInferredView(!inferredView)">STATED</mat-slide-toggle>
            <span class="stated pe-2 py-2">INFERRED</span>
        </div>
    </div>
    <div class="col-6 options d-inline-flex flex-row-reverse">
        <div class="p-3">
            <button class="btn history rounded-circle border-0"><i class="fa-solid fa-gear"></i></button>
        </div>
        <div class="dropdown py-3">
            <button type="button" class="btn history rounded-circle border-0 me-3" data-bs-toggle="dropdown"><i class="fa-solid fa-clock-rotate-left"></i></button>
            <ul class="dropdown-menu">
                <ng-container *ngIf="!conceptHistory?.length">
                    <li><a class="dropdown-item px-3 py-2">Concept history empty</a></li>
                </ng-container>
                <ng-container *ngFor="let concept of conceptHistory">
                    <li><a class="dropdown-item history px-3 py-2" (click)="findConcept(concept)">{{concept?.pt?.term}}</a></li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
