@import 'src/variables.scss';

div#concept {
    cursor: pointer;

    div.definition-status {
        background-color: $sea-buckthorn-light;
        color: $white;
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        line-height: 2rem;
    }

    p {
        font-size: 1.4rem;
    }
}

