@import 'src/variables.scss';

div#diagram {
    position: relative;
    height: calc(100vh - 13.8rem);

    button.download {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: $wisteria;
        color: $white;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 1px;

        &:hover {
            background-color: $wisteria-dark;
        }
    }

    div.no-concept {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 18.8rem);

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $river-bed;
        }
    }
}
