@import 'src/variables.scss';

div#node-graph {
    height: calc(100vh - 18.8rem);

    div.no-concept {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 18.8rem);

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $river-bed;
        }
    }
}
