<nav class="navbar sticky-top navbar-dark bg-dark p-2 pe-2">
    <a class="logo" routerLink="/">
        <img class="logo me-2 p-0" src="/assets/small_logo.png">
        <span class="title text-white">SNOMED CT Browser</span>
    </a>

    <ul *ngIf="activeCodesystem && activeVersion; else loading" class="dropdown-nav me-auto my-2">
        <li *ngIf="activeCodesystem" class="nav-item dropdown">
            <a class="nav-link px-3 py-2 rounded dropdown-toggle text-end" id="codesystemDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{activeCodesystem.name}}
            </a>
            <div class="dropdown-menu py-0" aria-labelledby="branchDropdown">
                <ng-container *ngFor="let codesystem of codesystems">
                    <a class="dropdown-item ps-3" (click)="setCodesystem(codesystem)">{{codesystem?.name}}</a>
                </ng-container>
            </div>
        </li>
        <li class="px-3 py-2 slash">/</li>
        <li *ngIf="activeVersion" class="nav-item dropdown">
            <a class="nav-link px-3 py-2 rounded dropdown-toggle text-end" id="versionDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{activeVersion.version}}
            </a>
            <div class="dropdown-menu py-0" aria-labelledby="branchDropdown">
                <ng-container *ngFor="let version of versions">
                    <a class="dropdown-item ps-3" (click)="setVersion(version)">{{version?.version}}</a>
                </ng-container>
            </div>
        </li>
        <ng-container *ngIf="activeConcept">
            <li class="px-3 py-2 slash">/</li>
            <li class="py-2 concept">{{activeConcept.conceptId + ' |' + activeConcept.fsn?.term! + '|'}}</li>
        </ng-container>
    </ul>

    <ng-template #loading>
        <ul class="dropdown-nav me-auto my-2">
            <li class="nav-item">
                <a class="nav-link px-3 py-2 rounded loading">
                    <div class="spinner-border" style="font-size: 1rem" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </a>
            </li>
        </ul>
    </ng-template>

    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner text-white local"></div>
        <div *ngSwitchCase="'dev'" class="banner text-white dev"></div>
        <div *ngSwitchCase="'uat'" class="banner text-white uat"></div>
        <div *ngSwitchCase="'training'" class="banner text-white training"></div>
        <div *ngSwitchDefault class="banner text-white d-none"></div>
    </ng-container>

    <ul class="dropdown-nav flags float-end my-2 me-2">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3 py-2 rounded text-end" id="flagDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fi fi-gb me-2"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="flagDropdown">
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-gb me-3"></span>English</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-dk me-3"></span>Dansk</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-es me-3"></span>Español</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-fr me-3"></span>Français</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-de me-3"></span>Deutsch</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-pt me-3"></span>Portugués</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-no me-3"></span>Norsk</a>
                <a class="dropdown-item py-2 px-3" href="#" target="_blank"><span class="fi fi-se me-3"></span>Swedish</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item disabled text-wrap text py-2 px-3" href="#">This option only applies to the Browser itself. Terminology language depends on the selected edition.</a>
            </div>
        </li>
    </ul>

    <ul class="dropdown-nav info float-end p-0 m-2">
        <li class="nav-item dropdown">
            <a class="nav-link px-3 py-2 rounded text-end" id="infoDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="infoDropdown">
                <a class="dropdown-item p-3" href="https://www.iubenda.com/privacy-policy/46600952" target="_blank">SNOMED International Privacy Policy</a>
                <a class="dropdown-item p-3" href="https://github.com/IHTSDO/sct-browser-frontend" target="_blank">See the code on GitHub</a>
                <a class="dropdown-item p-3" href="https://www.snomed.org/software-tools" target="_blank">SNOMED International Tooling</a>
                <a class="dropdown-item p-3" href="https://www.snomed.org/" target="_blank">SNOMED International</a>
            </div>
        </li>
    </ul>
</nav>
