@import 'src/variables.scss';

nav {
    a.logo {
        height: 4rem;
        font-size: 1.6rem;

        &:hover {
            text-decoration: none;
        }

        span.title {
            font-weight: 300;
            letter-spacing: 1.5px;
            line-height: 4rem;
            vertical-align: top;
            cursor: pointer;
        }

        img.logo {
            vertical-align: initial;
            height: 4rem;
        }
    }

    div.banner {
        position: absolute;
        top: 1rem;
        left: -3rem;
        transform: rotate(-45deg);
        line-height: 1rem;
        opacity: 0.8;
        font-size: 1.4rem;
    }

    div.local::before {
        content: 'LOC';
        padding: 0 3rem;
        background-color: $river-bed;
        border: 1px solid $sea-buckthorn;
    }

    div.dev::before {
        content: 'DEV';
        padding: 0 3rem;
        background-color: $mandy;
        border: 1px solid $sea-buckthorn;
    }

    div.uat::before {
        content: 'UAT';
        padding: 0 3rem;
        background-color: $cerulean;
        border: 1px solid $sea-buckthorn;
    }

    div.training::before {
        content: 'TRN';
        padding: 0 3rem;
        background-color: $fruit-salad;
        border: 1px solid $sea-buckthorn;
    }

    ul.dropdown-nav {
        list-style-type: none;
        height: 3rem;
        max-height: 3rem;

        li {
            display: inline-block;

            &.slash {
                color: $off-white;
            }

            &.concept {
                color: $off-white;
                font-size: 1.7rem;
                font-weight: 300;
                letter-spacing: 1px;
                max-width: 50vw;
                vertical-align: middle;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            a {
                min-width: 8rem;
                font-size: 1.4rem;
                height: 3rem;
                color: $white;
                background-color: $river-bed;
                line-height: 2rem;
                font-weight: 300;
                letter-spacing: 0.2rem;
                cursor: pointer;

                &.add {
                    background-color: $fruit-salad;
                }

                &.loading {
                    min-width: unset;
                }

                i {
                    letter-spacing: 0;
                    font-size: 1.6rem;
                    //width: 1rem;
                    //height: 1rem;
                }
            }

            div.dropdown-menu {
                background-color: $river-bed;
                z-index: auto;
                height: auto;
                overflow-y: scroll;
                max-height: 80vh;

                &.show {
                    display: block;
                }

                a.dropdown-item {
                    font-weight: 300;
                    z-index: auto;

                    &:hover {
                        background-color: darken($river-bed, 10%);
                        cursor: pointer;
                    }
                }
            }
        }

        &.info {
            li {
                a {
                    min-width: auto;
                    height: auto;
                }
            }
        }

        &.flags {
            li {
                a {
                    min-width: auto;

                    &.dropdown-item {
                        width: 20rem;
                        height: auto;

                        &.text {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    div.user {
        height: 3rem;
        font-size: 1.2rem;

        span {
            line-height: 3rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
        }

        img {
            height: 3rem;
            width: 3rem;
        }
    }

    div.logout {
        cursor: pointer;
        height: 3rem;

        span {
            font-size: 1.2rem;
            line-height: 3rem;
            font-weight: 300;
            letter-spacing: 0.1rem;

            &:hover {
                color: $cerulean;
            }
        }
    }
}
