<footer id="footer" class="footer bg-dark">
    <a class="px-3 link text-white" href="http://www.snomed.org/" target="_blank">Copyright © {{year}} Santa Claus</a>
    <a class="px-3 link text-white" [href]="uiConfiguration ? uiConfiguration.endpoints.reportingUserGuideEndpoint : 'https://confluence.ihtsdotools.org/display/SCTBROWSERUG'" target="_blank">User Guide</a>
    <a class="px-3 link text-white" [href]="uiConfiguration? uiConfiguration.endpoints.contactUsEndpoint : 'http://www.snomed.org/contact-us/'" target="_blank">Contact Us</a>
    <a class="px-3 float-end text-white">v0.0.1</a>
</footer>
