<app-snomed-navbar (emitter)="loading = $event"></app-snomed-navbar>

<div class="container-fluid g-0">
        <div [hidden]="!loading" class="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div  [hidden]="loading" class="row g-0">
            <div class="col-5 search border-end">
                <mat-tab-group (selectedTabChange)="onSearchTabSwitch($event.index)" animationDuration="0ms" [selectedIndex]="0">
                    <mat-tab label="SEARCH">
                        <app-search></app-search>
                    </mat-tab>
                    <mat-tab label="TAXONOMY">
                        <app-taxonomy></app-taxonomy>
                    </mat-tab>
                    <mat-tab label="ECL">
                        <app-ecl></app-ecl>
                    </mat-tab>
                    <mat-tab label="FAVOURITES">
                        <app-favourites></app-favourites>
                    </mat-tab>
                    <mat-tab label="REFSET">
                        <app-refset></app-refset>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-7 results">
                <mat-tab-group (selectedTabChange)="onResultsTabSwitch($event.index)" animationDuration="0ms" [(selectedIndex)]="activeResultsTab">
                    <mat-tab label="SUMMARY">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(0)"></app-concept-utility-bar>
                        <app-summary></app-summary>
                    </mat-tab>
                    <mat-tab label="DETAILS">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(1)"></app-concept-utility-bar>
                        <app-details></app-details>
                    </mat-tab>
                    <mat-tab label="DIAGRAM">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(2)"></app-concept-utility-bar>
                        <app-diagram></app-diagram>
                    </mat-tab>
                    <mat-tab label="NODE">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(3)"></app-concept-utility-bar>
                        <app-node-graph [options]="options"></app-node-graph>
                    </mat-tab>
                    <mat-tab label="EXPRESSION">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(4)"></app-concept-utility-bar>
                        <app-expression [loading]="owlLoading"></app-expression>
                    </mat-tab>
                    <mat-tab label="REFSETS">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(5)"></app-concept-utility-bar>
                        <app-refsets [mapsloading]="mapsLoading" [refsetsloading]="refsetsLoading"></app-refsets>
                    </mat-tab>
                    <mat-tab label="MEMBERS">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(6)"></app-concept-utility-bar>
                        <app-members [loading]="memberLoading"></app-members>
                    </mat-tab>
                    <mat-tab label="HISTORY">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(7)"></app-concept-utility-bar>
                        <app-history></app-history>
                    </mat-tab>
                    <mat-tab label="REFERENCES">
                        <app-concept-utility-bar (emitter)="onResultsTabSwitch(8)"></app-concept-utility-bar>
                        <app-references [loading]="referencesLoading"></app-references>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
</div>

<app-snomed-footer></app-snomed-footer>

<app-history-modal></app-history-modal>
