@import 'src/variables.scss';

div#refsets {
    div.refsets {
        max-height: calc(100vh - 18.8rem);
        overflow-x: scroll;

        div.concept {
            background: $off-white;

            div.name {
                padding-right: 6rem;
                position: relative;

                h4 {
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                button.maps {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background-color: $cerulean;
                    color: $white;
                    font-size: 1.4rem;
                    font-weight: 400;
                    letter-spacing: 1px;

                    &:hover {
                        background-color: $cerulean-dark;
                    }
                }
            }
        }

        div.simple {
            background: $anakiwa;

            h4 {
                font-size: 1.6rem;
                font-weight: 300;
            }

            div.row {
                p {
                    font-size: 1.4rem;

                    &.linkable:hover {
                        color: $blumine;
                        cursor: pointer;
                    }
                }

                div {
                    position: relative;

                    div.dropdown {
                        position: absolute;
                        top: 0;


                        &.info {
                            right: 0;
                        }

                        button {
                            background-color: transparent;
                            height: 2rem;
                            width: 2rem;
                            font-size: 1.4rem;

                            &:hover {
                                background-color: $anakiwa-dark;
                            }
                        }
                    }
                }

                &.even {
                    background-color: $anakiwa-light;
                }
            }
        }

        div.maps {
            background: $anakiwa;

            h4 {
                font-size: 1.6rem;
                font-weight: 300;
            }

            div.row {
                p {
                    font-size: 1.4rem;

                    &.linkable:hover {
                        color: $blumine;
                        cursor: pointer;
                    }
                }

                div {
                    position: relative;

                    div.dropdown {
                        position: absolute;
                        top: 0;


                        &.info {
                            right: 0;
                        }

                        button {
                            background-color: transparent;
                            height: 2rem;
                            width: 2rem;
                            font-size: 1.4rem;

                            &:hover {
                                background-color: $anakiwa-dark;
                            }
                        }
                    }
                }

                &.even {
                    background-color: $anakiwa-light;
                }
            }
        }

        div.attribute {
            background: $off-white;

            h4 {
                font-size: 1.6rem;
                font-weight: 300;
            }
        }

        div.association {
            background: $off-white;

            h4 {
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
    }

    div.no-concept {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 18.8rem);

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $river-bed;
        }
    }

    ul {
        li {
            a, label, input {
                font-size: 1.4rem;
                font-weight: 400;
                cursor: pointer;

                &.no-hover {
                    background-color: initial;
                    color: revert;
                }
            }
        }
    }
}
