@import 'src/variables.scss';

div#details {
    div.details {
        max-height: calc(100vh - 18.8rem);
        overflow-x: scroll;

        div.concept {
            background: $anakiwa;

            div.definition-status {
                background-color: $sea-buckthorn-light;
                color: $white;
                height: 2rem;
                width: 2rem;
                line-height: 2rem;
            }

            div.name {
                padding-right: 6rem;
                padding-left: 3rem;
                position: relative;

                div.definition-status {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }

                h4 {
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                div.dropdown {
                    position: absolute;
                    top: 1rem;


                    &.info {
                        right: 1rem;

                    }

                    &.dots {
                        right: 4rem;

                    }

                    button {
                        background-color: transparent;
                        height: 2rem;
                        width: 2rem;
                        font-size: 1.4rem;

                        &:hover {
                            background-color: $anakiwa-dark;
                        }
                    }
                }
            }

            h4.sctid {
                font-size: 1.6rem;
                font-weight: 300;

                span {
                    font-size: 1.2rem;
                    color: $blumine;
                }
            }

            h4.status {
                font-size: 1.6rem;
                font-weight: 300;

                span {
                    font-size: 1.2rem;
                    color: $blumine;

                    &.tag {
                        background-color: $cerulean-light;
                        color: $white;
                        font-weight: 400;

                        &.active {
                            background-color: $fruit-salad-light;
                        }

                        &.inactive {
                            background-color: $mandy-light;
                        }
                    }
                }
            }
        }

        div.acceptability-map {
            background-color: $off-white-light;

            h4 {
                font-size: 1.4rem;
                font-weight: 400;
                background-color: $off-white;
            }

            div.row {
                p {
                    font-size: 1.4rem;
                }

                &.header {
                    background-color: $off-white;

                    p {
                        font-weight: 400;
                    }
                }

                div {
                    position: relative;

                    span {
                        color: $white;
                        font-weight: 400;
                        font-size: 1.2rem;

                        &.fsn {
                            background-color: $fruit-salad-light;
                        }

                        &.synonym {
                            background-color: $cerulean-light;
                        }
                    }

                    div.dropdown {
                        position: absolute;
                        top: 0;


                        &.info {
                            right: 0;
                        }

                        button {
                            background-color: transparent;
                            height: 2rem;
                            width: 2rem;
                            font-size: 1.4rem;

                            &:hover {
                                background-color: $off-white-dark;
                            }
                        }
                    }
                }

                &.odd {
                    background-color: $off-white;
                }
            }
        }

        div.axioms, div.relationships {
            background: $anakiwa;

            h4 {
                font-size: 1.4rem;
            }

            div.row {
                p {
                    font-size: 1.4rem;

                    &.linkable:hover {
                        color: $blumine;
                        cursor: pointer;
                    }
                }

                &.header {
                    p {
                        font-weight: 400;
                    }
                }

                &.even {
                    background-color: $anakiwa-light;
                }

                div {
                    position: relative;

                    div.dropdown {
                        position: absolute;
                        top: 0;


                        &.info {
                            right: 0;
                        }

                        button {
                            background-color: transparent;
                            height: 2rem;
                            width: 2rem;
                            font-size: 1.4rem;

                            &:hover {
                                background-color: $anakiwa-dark;
                            }
                        }
                    }
                }
            }
        }
    }

    div.no-concept {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 18.8rem);

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $river-bed;
        }
    }

    div.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 18.8rem);

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 4px solid $river-bed;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $river-bed transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    ul {
        li {
            a, label, input {
                font-size: 1.4rem;
                font-weight: 400;
                cursor: pointer;

                &.no-hover {
                    background-color: initial;
                    color: revert;
                }
            }
        }
    }
}
