@import 'src/variables.scss';

div#members-node {
    div.body {
        position: relative;

        i {
            position: absolute;
            top: 0.75rem;
            left: 1rem;
            font-size: 1.4rem;
            color: $blumine;
        }

        p {
            font-size: 1.4rem;
            color: $blumine;
        }

        &.body {
            &:hover {
                background-color: $anakiwa;
                cursor: pointer;
            }
        }
    }

    div.loading {
        display: flex;
        padding-left: 3.5rem;

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 2rem;
            height: 2rem;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0.2rem;
            border: 1px solid $river-bed;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $river-bed transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
