$white: #FFFFFF;
$off-white: #E0E0E0;
$off-white-dark: darken($off-white, 5%);
$off-white-light: lighten($off-white, 5%);
$slate-grey: #708090;
$river-bed: #434A55;
$black: #000000;

$wisteria: #A060AE;
$mandy: #EB4C59;
$mandy-dark: darken($mandy, 10%);
$mandy-light: lighten($mandy, 10%);
$fruit-salad: #4EA24E;
$fruit-salad-dark: darken($fruit-salad, 10%);
$fruit-salad-light: lighten($fruit-salad, 10%);
$anakiwa: #C3E7FE;
$anakiwa-dark: darken($anakiwa, 5%);
$anakiwa-light: lighten($anakiwa, 5%);
$cerulean: #49A8DB;
$cerulean-dark: darken($cerulean, 10%);
$cerulean-light: lighten($cerulean, 10%);
$blumine: #124F6B;
$sea-buckthorn: #F8A73D;
$sea-buckthorn-dark: darken($sea-buckthorn, 10%);
$sea-buckthorn-light: lighten($sea-buckthorn, 10%);
$candlelight: #FBDB13;
