<div id="refset">
    <div class="row g-0">
        <div class="col-12 options d-inline-flex">
            <div class="dropdown p-3">
                <button class="rounded-pill px-3 py-2 dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ALL
                </button>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                    <li><a class="dropdown-item px-3 py-2" href="#">ALL</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">ASSOCIATION</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">ATTRIBUTE VALUE</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">DESCRIPTION FORMAT REFERENCE SET</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">EXTENDED MAP</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">LANGAUGE TYPE</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">MODULE DEPENDENCY</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">MRCM ATTRIBUTE DOMAIN REFERENCE SET</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">MRCM ATTRIBUTE RANGE REFERENCE SET</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">MRCM DOMAIN REFERENCE SET</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">MRCM MODULE SCOPE REFERENCE SET</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">OWL EXPRESSION TYPE REFERENCE SET</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">REFERENCE SET DESCRIPTOR</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">SIMPLE MAP FROM SNOMED CT</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">SIMPLE MAP TO SNOMED CT</a></li>
                    <li><a class="dropdown-item px-3 py-2" href="#">SIMPLE TYPE REFERENCE SET</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row header g-0">
        <div class="col-10">
            <p class="m-0 px-3 pb-3">REFSET</p>
        </div>
        <div class="col-2">
            <p class="m-0 px-3 pb-3 text-end">MEMBERS</p>
        </div>
    </div>
    <ng-container *ngIf="!members">
        <div class="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </ng-container>
    <ng-container *ngFor="let member of members | active | alphabetical:'fsn':'term'">
        <app-members-node [node]="member" [count]="false" (emitFindConcept)="findConcept($event)"></app-members-node>
    </ng-container>
</div>
