@import 'src/variables.scss';

div#refset {
    height: calc(100vh - 13.8rem);
    overflow-x: scroll;

    div.options {
        background: $off-white-light;

        button {
            background-color: $fruit-salad;
            color: $white;
            font-weight: 400;
            min-width: 12rem;

            &:hover {
                background-color: $fruit-salad-dark;
            }
        }
    }

    div.header {
        background-color: $off-white-light;

        p {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    div.body {
        position: relative;

        i {
            position: absolute;
            top: 0.75rem;
            left: 1rem;
            font-size: 1.4rem;
            color: $blumine;
        }

        p {
            font-size: 1.4rem;
            color: $blumine;
        }

        &.body {
            &:hover {
                background-color: $anakiwa;
                cursor: pointer;
            }
        }
    }

    div.pre-search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 13.8rem);

        h3 {
            font-size: 2rem;
            font-weight: 300;
            color: $river-bed;
        }
    }

    div.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 22.9rem);

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 4px solid $river-bed;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $river-bed transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
